@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw; /* Restrict to the width of the viewport */
  overflow-x: hidden; /* Hide horizontal overflow */
  margin: 0 auto; /* Center horizontally */
  max-height: 1600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  padding-top: 20px;
}

.header {
  padding-top: 10px;
  font-size: xx-large;
  text-align: start;
  color: white;
  margin-left: -610px;
  font-size: 50px;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  width: 700px;
  height: 700px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  padding-top: 20px;
  margin-top: 7px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%; /* This centers vertically */
}

.title {
  justify-content: start;
  font-size: 20px;
}

.list-container {
  min-height: 500px;
  overflow-y: auto; /* This makes the container scrollable if its content exceeds its height */
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* Align children with space between */
  border-radius: 5px;
  border: 2px solid white;
  width: 660px;
  padding: 10px; /* Add padding for spacing */
  margin: 10px;
}

.task-done {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* Align children with space between */
  border-radius: 5px;
  border: 2px solid #02ae02;
  width: 660px;
  padding: 10px; /* Add padding for spacing */
  margin: 10px;
}

.task-date {
  flex-grow: 0; /* Do not grow */
  flex-shrink: 0; /* Do not shrink */
  width: 200px; /* Adjust width as needed */
}

.task-name {
  flex-grow: 2; /* Take up more space */
  flex-shrink: 1; /* Can shrink if necessary */
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent wrapping */
  text-overflow: ellipsis; /* Display ellipsis for overflow */
}

.task-date {
  margin-right: 10px; /* Adjust spacing between date and action buttons */
  font-size: 14px; /* Adjust font size as needed */
  color: #9c9c9c; /* Adjust color as needed */
}

.actions {
  display: flex;
  gap: 10px; /* Adjust spacing between buttons */
}

.btn-done,
.btn-remove {
  color: white;
  background-color: none !important;
  border-radius: 5px;
  border: 1px solid white;
  width: 30px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-done {
  background-color: #1dc67a;
}

.btn-remove {
  background-color: rgb(255, 71, 71);
}

.add {
  margin-top: 30px;
  margin-left: 20px;
}

.date-input,
.add-button {
  color: white;
  background-color: #282c34;
  border-radius: 7px;
  border: 1px solid white;
  font-size: 18px;
  padding: 6px 15px;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  background-color: rgb(34, 93, 170);
}

.date-input {
  background-color: transparent;
  margin-right: 3px;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the colors */
}

.task-input {
  width: 320px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 7px;
  border: 1px solid white;
  margin-left: 20px;
  color: white;
}

.icon {
  background-color: transparent;
}

.white-icon {
  color: white;
}

.green-icon {
  color: #02ae02;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-container {
  text-align: center;
}

.button-container {
  margin-left: 40px;
  margin-top: 5px;
  text-align: center; /* Align the button container to the center */
}

.clear-button {
  color: white;
  background-color: #282c34;
  border-radius: 7px;
  border: 1px solid white;
  font-size: 18px;
  padding: 6px 15px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px; /* Add some top margin */
  display: inline-block; /* Make the button inline-block to be centered */
}

.footerText {
  margin-left: 40px;
  margin-bottom: -5px;
}
